/JNGGSpriteManager/nbproject/private/
/JNGG/nbproject/private/
/JNGG/build/
/JNGGGamePadInput/nbproject/private/
/nbproject/private/
/JNGGGamePadInput/build/
/JNGGGamePadInput/dist/
/JNGG/dist/
/JNGGSpriteManager/build/
/JNGG2DEngine/nbproject/private/